.diversing-stacked-bar-outer {
  margin: 20px;
  padding: 20px 20px 10px 20px;
  border: 1px solid #c5c4c4;
}

.graph-levels {
  position: relative;
}

.g-block {
  width: 100%;
  display: inline-flex;
}

.g-block .b {
  box-sizing: border-box;
  display: inline-block;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  background: transparent;
  text-align: center;
  overflow: hidden;
}

.g-block .b.blank-space {
  opacity: 0;
}
